doctype
html
  head
    title Auth0 Sample
    link(rel='stylesheet', href='/css/app.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/js/app.js?1')
  body
    header
      h1 My Home Device List
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Jade and auth0 
        a(href='https://rdxonline.auth0.com/v2/logout') logout
