doctype
html
  head
    title Auth0 Sample
    link(rel='stylesheet', href='/css/app.css')
  body
    header
      h1 My Home Device List
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Jade and auth0 
